<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><title>Weather Forecast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

     <div class="container-fluid bg-secondary text-center">
            <div class="container-xl text-white" >
                <h1 class="title" style="text-align:center">
                   Weather Update
                </h1>
            </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="/">
            <img src="https://s.hdnux.com/photos/47/31/53/10328782/37/920x920.jpg" alt="logo" style="width:40px;">
        </a>
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item" >
                    <a class="nav-link" href="/">Back</a>
                </li>
            </ul>
    </nav>


    <center>

    {% if err_msg %}
    {{ err_msg }}
    {% endif %}
    </center>

     <form method="POST">
         {% csrf_token %}
         <div class="form-group" style="text-align:center">
             <select name="weather">
             {% for weather in weather_data %}

             <option value="{{weather}}" >{{weather}}</option>

             {% endfor %}
             </select>

             <button class="btn btn-primary">
                 Delete City
             </button>
         </div>
     </form>

</body>
</html>